@use '../Reset.scss' as *;

.home{
    .loading{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .upMovie{
        width: 100%;
        height: 100vh;
        position: relative;

        .upComingImg{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .upComingInfo{
            position: absolute;
            width: 100%;
            padding: 20px;
            bottom: 0; left: 0;
            background: rgba(0, 0, 0, .7);
            color: #fff;
            .upInfoText{
                .title{margin-bottom: 10px;}
                .overview{margin-bottom: 10px;}
            }
        }
    }
    .mainUpComing{
        padding: 20px 30px;

        h2{
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
            
        }
        .movieList{
            width: 1280px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: $breakpoint-xl){
                width: 100%;
                padding: 0 20px;
            }

            .loading{
                width: 100%;
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .movieItem{
                width: 19%;
                padding: 10px;
                background: #fff;
                box-shadow: 0 0 5px #505050;
                margin-bottom: 20px;

                /* $breakpoint-sm: 480px;
                $breakpoint-md: 768px;
                $breakpoint-lg: 1024px;
                $breakpoint-xl: 1280px; */
                
                @media screen and (max-width: $breakpoint-xl){
                    width: 24%;
                }
                @media screen and (max-width: $breakpoint-lg){
                    width: 33%;
                }
                @media screen and (max-width: $breakpoint-md){
                    width: 49%;
                }
                @media screen and (max-width: $breakpoint-sm){
                    width: 100%;
                }

                a{
                    .imgWrap{

                        img{width: 100%;}
                    }
                    .textWrap{
                        position: relative;

                        h3{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            color: #000;
                        }
                        p{
                            font-size: 14px;
                            margin-bottom: 20px;
                            color: #333;

                            &.average{
                                position: absolute;
                                top: -80px; right: 10px;
                                width: 50px;
                                height: 50px;
                                background: #fff;
                                box-shadow: 0 0 20px #000;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: red;
                            }
                        }
                    }
                }

                
            }
        }
        .more{
            padding: 20px;
            display: flex;
            justify-content: center;

            .loadMore{
                background: rgb(2, 49, 0);
                padding: 10px 30px;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.search{
    padding: 30px 20px;

    .searchBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;

        input{
            padding-left: 20px;
            flex-grow: 1;
            padding-right: 20px;
        }
        button.searchBtn{
            width: 50px;
            height: 50px;
            background: none;
            border: none;
            cursor: pointer;

            .searchIcon{
                font-size: 26px;
            }
        }
    }
}

.recommendations{
    margin-top: 100px;
    width: 100%;

    h2{
        text-align: center;
    }
    .recommendationList{
        padding: 0 20px;
        width: 100%;
        max-width: 1280px;
        margin: 30px auto;

        p{}
        .swiper-navigation{
            .mySwiper{
                transition-timing-function: linear;

                .recommendSlider{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}