.footer{
    width: 100%;
    height: auto;
    background: #111;
    margin-top: 50px;
    position: absolute;
    padding: 20px;
    /* bottom: 0; */ left: 0;
    left: 0;
    .f_inner{
        max-width: 1280px;
        width: 100%;
        margin: auto;
        font-size: 12px;
        >.f_top{display: flex; align-items: center;
                @media screen and (max-width: 896px){
                    flex-direction: column;
                    align-items: flex-start;
                }    
        }
        .f_logo{
            font-size: 32px;
            margin-right: 20px;
        }
        .f_menu{
            ul{
                display: flex;
                @media screen and (max-width: 842px){
                    flex-direction: column;
                }
                li{
                    a{
                        display: inline-block;
                        padding: 0 10px;
                        position: relative;
                        
                    }
                    &:not(:last-child) a:after{
                        content: "";
                        width: 1px;
                        height: 10px;
                        background: #333;
                        position: absolute;
                        top: 4px;
                        right: 0;
                    }
                    @media screen and (max-width: 842px){
                        &:not(:last-child) a:after{
                        background: transparent;
                    }
                    }
                }
            }
        }
        .f_info{
            .info_title{
                color: #666;
                font-weight: bold;
                margin-top: 20px;
            }
            address{color: #555; margin-top: 10px; font-style: normal;}
            .f_copyright{
                p{color: #555; padding-top: 5px;}
            }
        }
    }
}