.header{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;

    .logo{
        a{color: #fff;}
    }
    #nav{
        nav{
            ul{
                display: flex;

                li{
                    margin-right: 20px;

                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}